.productDetailsContainer {
    margin-top: 30px;
}

.productDetailsHeader {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 12px;
}

.mainPhoto {
    width: 30vw;
    height: 20vw;
    object-fit: cover;
    z-index: 1;
}

.productInfoContainer {
    display: flex;
    padding: 0 20px;
    gap: 30px;
}

.productGallery {
    display: flex;
    gap: 10px;
    height: 40vw;
}

.allPhotos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.photo {
    width: 150px;
    height: 200px;
}

.photo img {
    width: 100%;
    height: 100%;

}

.productTitle {
    font-size: 24px;
    border-bottom: 1px solid;
    border-color: rgb(216, 216, 216);

}

.itemCode {
    font-size: 12px;
}

.price {
    border-bottom: 0.1px solid;
    border-color: rgb(216, 216, 216);
    padding-bottom: 35px;
    padding-top: 10px;
    font-size: 22px;
}

.priceOffcanvas {
    font-size: 12px;
    font-weight: 900;
    margin-top: 15%;
}

.sizes,
.colors,
.quantity {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.1px solid;
    border-color: rgb(216, 216, 216);
    font-size: 15px;
}

.quantityOffcanvas {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.1px solid;
    border-color: rgb(216, 216, 216);
    font-size: 10px;
    justify-content: space-between;
}

.sizes button {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
    width: 45px;
    background-color: white;
    border: solid rgb(205, 205, 205) 1px;
    color: rgb(68, 68, 68);
}

.colors button {
    padding: 10px 10px;
    margin-right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid rgb(215, 215, 215) 1px;
}

.quantityPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .quantityInput {
    text-align: center;
    padding-left: 8px;
    border: none;
} */

.quantity button {
    padding: 0 8px;
    background-color: white;
    color: rgb(68, 68, 68);
    font-size: 20px;
    border-right: 1px solid;
    border-left: 1px solid;
    font-size: 14px;
}

.quantityPanelOffcanvas button {
    padding: 0 8px;
    background-color: white;
    color: rgb(68, 68, 68);
    font-size: 20px;
    border-right: 1px solid;
    border-left: 1px solid;
    font-size: 14px;
    margin-top: 50;
}


.addToCartBtnAndFavorites {
    margin: 30px 0;
    display: flex;
    gap: 10px;
}

.addToCartBtn,
.favoritesBtn button {
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.321);
    color: rgb(74, 74, 74);
    border: 2px solid;
    border-color: rgb(198, 198, 198);
}

.addToCartBtn {
    width: 200px;
}

.favoritesBtn button{
  width: 55px;  
}


.addToCartBtn, .favoritesBtn button{
    transition: border-color 1.2s, background-color 1.2s, color 0.2s;
}

.addToCartBtn:hover, .favoritesBtn button:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(221, 221, 221);
    color: white;
}

.accordionItem {
    margin-bottom: 20px;
    /*here is something wrong with accordion width. I don't understand where it comes from*/
    font-size: 12px;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    font-weight: 600;
    padding-right: 10px;
}

.accordionList {
    padding-left: 15px;
    font-size: 14px;
}

.cartItem .image {
    width: 150px;
    height: 200px;
}

.cartItem .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartItem {
    display: flex;
    gap: 10px;
    font-size: 10px;
    margin-bottom: 10px;
}

.infoPriceAndBtnContainer {
    height: 100%;
}

.subTotalLine {
    display: flex;
    justify-content: space-between;
}

.deliveryLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.buyBtn button {
    width: 100%;
}

.total {
    margin-top: 50px;
    font-size: 14px;
}

.selectedSizeButton {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.OffcanvasContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}