.popularProductsWrapper {
    padding: 50px 20px;
}

.popularProductsContainer {
    height: 30%;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: space-between;
}

.popularProductCard {
    width: 18%;
}

.popularProductImg {
    height: 350px;
}

.popularProductImg img {
    width: 100%;
    object-fit: cover;
}

.popularProductsContainer i {
    font-size: 25px;
    color: rgb(183, 180, 180);
    align-self: center;
}

/*from ProductListing*/

.productCard {
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
    color: black;
}

.productCard:hover {
    text-decoration: none;
    color: black;
}

.label {
    position: absolute;
    top: 2%;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.621);
    padding: 0 5px;
    border-radius: 5px;
    color: rgb(96, 95, 95);
    font-size: 12px;
}

.favorites i {
    color: rgb(140, 131, 131);
    font-size: 18px;
    border: solid 2px;
    padding: 5px 6px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.621);
    position: absolute;
    top: 2%;
    right: 4%;
}

.header {
    font-size: 21px;
}

hr {
    margin-bottom: 20px;
}

/* making zooming pictures */
.popularProductImg {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .popularProductPhoto {
    transition: transform 0.5s ease;
    height: 25vw;
  }
  
  .popularProductImg:hover .popularProductPhoto {
    transform: scale(1.2);   
  }
  
/* header format */
  .cardHeader a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.cardCategory {
    font-size: 12px;
}

.cardItemCode {
    font-size: 12px;
    margin-bottom: 5px;
}

.cardItemPrice {
    font-size: 14px;
    margin-bottom: 5px;
}