.chooseJJContainer {
    background-color: rgb(244, 244, 244);
    padding: 20px;
}

.chooseJJContainer header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
}

.chooseJJContainer h1 {
    margin-bottom: 20px;
}

.cardsChooseJJ {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    font-size: 10px;
    text-align: center;
    width: 60%;
}

.cardChooseJJ {
    width: 25%;
}

.header {
    font-size: 21px;
    margin-top: 30px;
}

hr {
    margin-bottom: 20px;
    margin-top: 0px;
}

.content {
    font-size: 14px;
    text-align: justify;
}

.itemPicture {
width: 28px;
margin-bottom: 15px;
}

.itemTitle {
    font-size: 16px;
    margin-bottom: 25px;

}

.itemDescription {
    text-align: justify;
}