.shoppingCartPage {
    margin-top: 30px;
    margin-left: 20px;
}

.shoppingCartContainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 100px;
}

.productInfoAndPrice {
    display: flex;
    justify-content: space-between;
}

.infoPriceAndBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItem,
.total {
    width: 40vw;
}

.cartItem {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.cartItem .image {
    width: 200px;
    height: 250px;
}

.cartItem .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subTotalLine {
    display: flex;
    justify-content: space-between;
}

.deliveryLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.buyBtn button {
width: 100%;
}

.emptyShoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 20vw;
}
