.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px;
    margin-bottom: 20px;
}

.navBarLogo {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
    font-size: 25px;
    letter-spacing: 21px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.navBarLogo img {
    width: 65px;
    
}

.navBarLogo p {
    padding: 0;
    margin: 0;
}

.navBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(92, 91, 91);
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.searchInput {
    padding: 4px;
    border-radius: 5px;
}