.fullNavBarContainer {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}

.placeholder {
   height: 99px;
   width: 100%;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navBarLogo {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
    font-size: 25px;
    letter-spacing: 21px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.navBarLogo:hover {
    text-decoration: none;
    color: black;
}

.navBarLogo img {
    width: 65px;
}

.navBarLogo p {
    padding: 0;
    margin: 0;
}

.navBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(92, 91, 91);
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.searchInput {
    padding: 4px;
    border-radius: 5px;
}

/**/
.productList .productListItems {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    margin-left: -30px; /*can't find where padding comes from, so resolved it with margin*/
}

.dropDownMenu {
    position: relative;
    display: inline-block;
}

.dropDownMenuList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100vw;
    height: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -170px;
    /* move it to the left */
    top: 100%;
}

.dropDownMenuList ul {
    list-style: none;
    width: 100vw;
}

.dropDownMenu:hover .dropDownMenuList {
    display: block;
}

.dropDownMenuContainer {
    display: flex;
    gap: 20px;
    /* Adjust the gap based on your preference */
}

.dropDownMenuContainer div {
    flex: 1;
    /* Each column takes up equal width */
}

.dropDownMenuContainer img {
    width: 20%;
    /* Set the width of the image */
}