.carouselContainer {
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
}

.carouselWindow {
  display: flex;
  width: 100%;
  object-fit: cover;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: transform 0.5s ease;
}

/*Radu Reco*/
.carouselImage {
  width: 100vw;
  height: 100%;
}

.onCarouselWindow {
  position: absolute;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.textContainer {
  width: 70%;
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
  top: -50%; 
}